<div style="background: linear-gradient(to bottom, #378091, #2f3e45); height: 800px;display: table">

    <!-- 侧边栏 -->
    <app-system-side-left></app-system-side-left>
    <div class="title-content">

        <!-- 当前店铺及商品汇总信息 -->
        <div style="align-items: left; left: 15px !important;">
            <app-summary-table [shopData]="shopData" [tableTitle]="goodsData[0]" [tableTitleFace]="'商品ID'"></app-summary-table>
            <div style="width: 95%; margin: auto; left: 0; right: 0; margin-top: 20px;">

                <!-- 温馨提醒分类添加表单 -->
                <table width="100%">
                    <tr>
                        <td align="right" width="70%">
                            <p class="contact-input contact-absolute-width">
                                <input type="text" name="goodsPackagesDetailName" placeholder="温馨提醒类别"
                                       [(ngModel)]="packagesNoticeName">
                            </p>
                        </td>
                        <td align="right">
                            <p class="contact-submit">
                                <input type="button" class="button" value="   添加温馨提醒类别   " (click)="gotoAddPackageNotice()">
                                <input type="button" class="button" value="   返回   " (click)="goReturn()">
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="height: 35px; width: 100%;">
            <span  *ngIf="isNeedShowErrMsg" style="color: #721c24">{{errMsg}}</span>
        </div>
        <!-- 温馨提醒分类展示及修改表单 -->
        <div style="overflow:scroll; width:100%; height:600px; font-size: 1.0em;">
            <div *ngFor="let elements of packagesNoticeList"
                 style="align-content: center; width: 95%; margin: auto; left: 0; right: 0; background-color: #339b9d; height: {{elements.height}};">
                <div style="width: 100%; height: 40px; line-height: 40px; background: linear-gradient(to bottom, #378091, #2f3e45);">
                    <div style="float: left; width: 15%; height: 100%; border-right: #b5ccda 1px solid;">
                        <span>温馨提醒类别</span>
                    </div>
                    <div style="float: left; width: 15%; height: 100%; border-right: #b5ccda 1px solid;">
                        <span>最后修改时间</span>
                    </div>
                    <div style="width: 70%; height: 100%; float: right;">
                        <span>温馨提醒操作</span>
                    </div>
                </div>
                <div style="width: 100%; height: 50px; line-height: 50px; border-bottom: #b5ccda 1px solid; border-top: #b5ccda 1px solid;">
                    <div style="float: left; width: 15%; height: 100%; border-right: #b5ccda 1px solid;">
                        <span style="font-size: 1.2em; font-weight: 900; color: rgba(193,90,63,0.76)">{{elements.packagesNoticeName}}</span>
                    </div>
                    <div style="float: left; width: 15%; height: 100%; border-right: #b5ccda 1px solid;">
                        <span>{{ elements.gmtModified | date:'yyyy年MM月dd日 HH:mm:ss' }}</span>
                    </div>
                    <div style="width: 70%; height: 100%; float: right;">
                        <table width="100%">
                            <tr>
                                <td width="25%">
                                    <p class="contact-input contact-absolute-width" style="margin-left: 15px;">
                                        <input type="text" name="expireTime"
                                               [(ngModel)]="elements.goodsPackagesDetailNameModified">
                                    </p>
                                </td>
                                <td width="75%">
                                    <p class="contact-submit" style="margin-right: 5px; margin-top: 2px; font-size: 1.0em;">
                                        <input type="button" class="button" value="   修改温馨提醒类别   "
                                               (click)="modifyPackagesNotice(elements)">
                                        <input type="button" class="button" value="   删除温馨提醒类别   "
                                               (click)="deletePackagesNotice(elements)">
                                        <input type="button" class="button" value="   添加子提醒   "
                                               (click)="addSubNoticePackages(elements)">
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- 温馨提醒子项添加表单 -->
                <table *ngIf="elements.isNeedShowSubPackagesAdd" style="width: 100%; height: 50px;border-bottom: #b5ccda 1px solid; border-top: #b5ccda 1px solid;">
                   <tr style="width: 100%; height: 50px; line-height: 50px;">
                       <td style="float: left; width: 80%;">
                           <p class="contact-input" style="margin-left: 15px; margin-top: 15px; width: 100%">
                               <textarea rows="3" name="subPackagesName" placeholder="子提醒内容" [(ngModel)]="subPackageData.subNoticeDetail"></textarea>
                           <p>
                       </td>
                       <td style="float: left; width: 20%;">
                           <p class="contact-submit" style="margin-right: 5px; margin-top: 2px; margin-top: 15px;">
                               <input type="button" class="button" value="   保存子提醒   " (click)="doAddSubPackages(elements)">
                           </p>
                       </td>
                   </tr>
                </table>

                <!-- 温馨提醒子项列表展示 -->
                <app-query-goods-packages-sub-notice [noticeData]="elements" (resultMessage)="showSubCertainMessage($event)"></app-query-goods-packages-sub-notice>
            </div>

            <!-- 页面底边距控制 -->
            <div style="width: 100%; height: 70px;"></div>
            <div style="width: 97%; margin: auto; left: 0; right: 0;">
                <table width="100%"><tr><td align="right">
                    <p class="contact-submit">
                        <input type="button" class="button" value="   一键添加提醒模板   " (click)="gotoAutoAddPackageNotice()">
                    </p>
                </td></tr></table>
            </div>

            <!-- 页面底边距控制 -->
            <div style="width: 100%; height: 270px;"></div>
        </div>
    </div>
</div>
