<div style="background: linear-gradient(to bottom, #378091, #2f3e45); height: 800px;display: table">
    <app-system-side-left></app-system-side-left>
    <div class="title-content">

        <!-- 当前店铺及商品汇总信息 -->
        <div style="align-items: left; left: 15px !important;">
            <app-summary-table [shopData]="shopData" [tableTitle]="goodsData[0]" [tableTitleFace]="'当前商品ID'"></app-summary-table>
            <div style="width: 95%; margin: auto; left: 0; right: 0; margin-top: 20px;">
                <table width="100%">
                    <tr>
                        <td align="right">
                            <p class="contact-submit">
                                <input type="button" class="button" value="   返回   " (click)="goReturn()">
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="width:95%; margin: auto; left: 0; right: 0;">
            <div style="width: 100%; height: 70px; line-height: 70px; border: #0a6079 1px solid;">
                <div style="width: 10%; height: 100%; float: left;">
                    <a href="javascript:;" class="file">选择文件    <input type="file" name="" id="1" [(ngModel)] = "myFile" (change)="uploadFile($event)"></a>
                </div>
                <div style="width: 10%; float: left; height: 70px; line-height: 70px; align-content: center; align-items: center; align-self: center; vertical-align: middle;">
                    <p class="contact-submit" style="margin-top: 8px;">
                        <input type="button" class="button" value="   上传   " (click)="doUploadFile()">
                    </p>
                </div>
                <div style="float: left; width: 80%; height: 100%;">
                    <span>{{fileName}}</span>
                    <span style="color: #721c24">{{errorMessage}}</span>
                </div>
            </div>
        </div>
        <div style="width: 100%; height: 30px; line-height: 70px;"></div>
        <div style="width:95%; height:600px; margin: auto; left: 0; right: 0;">
            <div class="table-bar-style" style="width: 100%; height: 50px; line-height: 50px; border: #0a6079 1px solid;">
                <div style="float: left; width: 15%; height: 100%">
                    <span>图片预览</span>
                </div>
                <div style="float: left; width: 10%; height: 100%">
                    <span>图片ID</span>
                </div>
                <div style="float: left; width: 10%; height: 100%">
                    <span>商品ID</span>
                </div>
                <div style="float: left; width: 25%; height: 100%">
                    <span>图片地址</span>
                </div>
                <div style="float: left; width: 15%; height: 100%">
                    <span>创建时间</span>
                </div>
                <div style="float: left; width: 15%; height: 100%">
                    <span>最后修改时间</span>
                </div>
                <div style="float: left; width: 10%; height: 100%">
                    <span>操作</span>
                </div>
            </div>
            <div *ngFor="let element of packageImageList" class="table-bar-style" style="width: 100%; height: 120px; line-height: 120px; border: #0a6079 1px solid;">
                <div style="float: left; width: 15%; height: 100%">
                    <span><img src="{{element.imageShow}}" style="width: 80px; height: 100px;"></span>
                </div>
                <div style="float: left; width: 10%; height: 100%">
                    <span>{{element.imageId}}</span>
                </div>
                <div style="float: left; width: 10%; height: 100%">
                    <span>{{element.goodsId}}</span>
                </div>
                <div style="float: left; width: 25%; height: 100%">
                    <span>{{element.image}}</span>
                </div>
                <div style="float: left; width: 15%; height: 100%">
                    <span>{{element.gmtCreated}}</span>
                </div>
                <div style="float: left; width: 15%; height: 100%">
                    <span>{{element.gmtModified}}</span>
                </div>
                <div style="float: left; width: 10%; height: 100%">
                    <a  style="cursor: pointer;" (click)="doOperation(element)"> 删除 </a>
                </div>
            </div>
        </div>
    </div>
</div>
