<div  style="width: 100%; height: 35px; background-color: #3bd4d6">
    <div class="div-td-title">
        <span> 商品ID: </span>
    </div>
    <div class="div-td-content">
        <span>{{goodsConfigModel.goodsId}}</span>
    </div>
    <div class="div-td-title">
        <span>商品标题：</span>
    </div>
    <div class="div-td-content">
        <span>{{goodsConfigModel.goodsTitle}}</span>
    </div>
    <div class="div-td-title">
        <span>套餐类型：</span>
    </div>
    <div class="div-td-content">
        <span>{{goodsConfigModel.goodsDesc}}</span>
    </div>
    <div class="div-td-title">
        <span>当前售价：</span>
    </div>
    <div class="div-td-content">
        <span>￥{{goodsConfigModel.goodsPrice}}元</span>
    </div>
    <div class="div-td-title">
        <span>原始价格：</span>
    </div>
    <div class="div-td-content">
        <span>￥{{goodsConfigModel.goodsCommPrice}}元</span>
    </div>
</div>
<div  style="width: 100%; height: 35px; background-color: #3bd4d6">
    <div class="div-td-title">
        <span>营业时间：</span>
    </div>
    <div class="div-td-content">
        <span>{{goodsConfigModel.goodsOnlineTime}}</span>
    </div>
    <div class="div-td-title">
        <span>订购类型：</span>
    </div>
    <div class="div-td-content">
        <span>{{goodsConfigModel.orderTypeShow}}</span>
    </div>
    <div class="div-td-title">
        <span>是否会员：</span>
    </div>
    <div class="div-td-content">
        <span>{{goodsConfigModel.isHuiyuanShow}}</span>
    </div>
    <div class="div-td-title">
        <span>是否有券：</span>
    </div>
    <div class="div-td-content">
        <span>{{goodsConfigModel.isQuanShow}}</span>
    </div>
    <div class="div-td-title">
        <span>是否团购：</span>
    </div>
    <div class="div-td-content">
        <span>{{goodsConfigModel.isTuanShow}}</span>
    </div>
</div>
<div  style="width: 100%; height: 35px; background-color: #3bd4d6">
    <div class="div-td-title">
        <span>过期时间：</span>
    </div>
    <div class="div-td-content">
        <span>{{goodsConfigModel.gmtExpired}}</span>
    </div>
    <div class="div-td-title">
        <span>创建时间：</span>
    </div>
    <div class="div-td-content">
        <span>{{goodsConfigModel.gmtCreated}}</span>
    </div>
    <div class="div-td-title">
        <span>修改时间：</span>
    </div>
    <div class="div-td-content">
        <span>{{goodsConfigModel.gmtModified}}</span>
    </div>
    <div class="div-td-title">
        <span>图片地址：</span>
    </div>
    <div style="float: left; height: 35px; width: 33%; border: #0a6079 1px solid; ">
        <span>{{goodsConfigModel.goodsImage}}</span>
    </div>
</div>
<div  style="width: 100%; height: 110px; background-color: #3bd4d6">
    <div style="float: left; height: 100%; width: 7%; border: #0a6079 1px solid; color: #0a6079; font-weight: 900;">
        <span>摘要图片：</span>
    </div>
    <div style="float: left; height: 100%; width: 33%; border: #0a6079 1px solid; ">
        <span><img src="{{goodsConfigModel.goodsImageShow}}" style="width: 80px; height: 100px; margin-top: 5px;"></span>
    </div>
    <div class="div-td-title">
        <span>商品状态：</span>
    </div>
    <div class="div-td-content">
        <span style="color: #f93950">{{goodsConfigModel.goodsStatusShow}}</span>
    </div>
    <div class="div-td-title">
        <span>商品类型：</span>
    </div>
    <div style="float: left; height: 35px; width: 33%; border: #0a6079 1px solid; ">
        <span>{{goodsConfigModel.goodsTypeShow}}</span>
    </div>
</div>
