<div style="background: linear-gradient(to bottom, #378091, #2f3e45); height: 800px;display: table">
    <app-system-side-left></app-system-side-left>
    <div class="title-content">
        <div style="align-items: left; left: 15px !important; width: 100%;">
            <!-- 当前店铺汇总信息 -->
            <app-camp-summary-table [shopData]="shopData" [tableTitle]="shopData[8]" [tableTitleFace]="'奖品关联商品'"></app-camp-summary-table>
            <!-- 表格内容 -->
            <app-camp-prize-summary-table [viewData]="viewData"></app-camp-prize-summary-table>
            <div style="width: 95%; margin: auto; left: 0; right: 0; margin-top: 20px;">
                <p class="contact-input contact-absolute-width">
                    <input type="text" name="goodsName"  placeholder="商品名称关键字" [(ngModel)]="goodsName">
                </p>
                <p class="contact-input contact-absolute-width" style="margin-left: 280px; margin-top: -60px;">
                    <label for="templateFlag" id="templateFlag" class="select">
                        <select name="goodsType" id="goodsType" [(ngModel)]="goodsType">
                            <option *ngFor="let templateFlag of goodsTypeOption"
                                    value="{{templateFlag.bizKey}}">{{templateFlag.value}}
                            </option>
                        </select>
                    </label>
                </p>
                <p class="contact-submit" style="margin-top: -70px;">
                    <input type="button" class="button" style="margin-right: 440px;" value="   查  询   " (click)="doQueryOnlineGoodsList()">
                    <input type="button" class="button" style="margin-left: 100px;" value="   返回   " (click)="goReturn()">
                </p>
            </div>
        </div>
    </div>
</div>
