<div style="background: linear-gradient(to bottom, #378091, #2f3e45); height: 800px;display: table">
    <app-system-side-left></app-system-side-left>
    <div class="title-content">
        <div style="align-items: left; left: 15px !important; width: 100%;">
            <!-- 当前店铺汇总信息 -->
            <app-camp-summary-table [shopData]="shopData" [tableTitle]="shopData[8]" [tableTitleFace]="'当前活动奖品关联商品'"></app-camp-summary-table>
            <!-- 表格内容 -->
            <app-camp-prize-summary-table [viewData]="viewData"></app-camp-prize-summary-table>
            <div style="width: 95%; margin: auto; left: 0; right: 0; margin-top: 20px;">
                <p class="contact-submit">
                    <input type="button" class="button" value="   返回   " (click)="goReturn()">
                </p>
            </div>
        </div>
    </div>
</div>
