th{
	background: linear-gradient(to bottom, #3bd4d6, #339b9d);
	height: 40px;
}

tr{
	background-color: rgba(85, 253, 255, 0.44);
}

td{
	border: #0a6079 1px solid;
}

.td-content{
	margin-left: 30px;
}

.td-title{
	color: #0a6079;;
}

table tr:hover {
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	background: linear-gradient(to bottom, #3cdddf, #357e75);
}