<div style="background: linear-gradient(to bottom, #378091, #2f3e45); height: 800px; display: table; width: 100%;">
    <app-system-side-left></app-system-side-left>
    <div class="title-content" style="width: 100%;">
        <div>
            <div style="align-items: center;">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <th colspan="6" align="left" valign="middle">>>查看商品摘要信息</th>
                </table>
            </div>
        </div>

        <!-- 当前店铺汇总信息 -->
        <app-summary-table [shopData]="shopData" [tableTitle]="title" [tableTitleFace]="'当前操作'"></app-summary-table>
        <div style="width: 95%; margin: auto; left: 0; right: 0; margin-top: 20px;">
            <p class="contact-submit">
                <input type="submit" value="     立 即 发 布     " (click)="goReturn()">
            </p>
        </div>
        <div style="height: 35px; width: 100%;"></div>
        <!-- 详情展示 -->
        <div style="height: 500px; width: 100%; overflow: scroll;">
            <div style="width: 95%; border: #0a6079 1px solid; margin: auto; left: 0; right: 0; height: 300px;">
                <app-view-detail-goods-summary [formData]="formData"></app-view-detail-goods-summary>
                <app-view-detail-goods-image-show [formData]="formData"></app-view-detail-goods-image-show>
                <app-view-detail-goods-detail [formData]="formData"></app-view-detail-goods-detail>
                <app-view-detail-goods-notice-show [formData]="formData"></app-view-detail-goods-notice-show>
                <div style="height: 75px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
