<div *ngIf="templateNameList !== null"  style="width: 100%; height: 30px;  background: linear-gradient(to bottom, #43f4f6, #40bdbc); ">
    <div style="float: left; height: 100%; width: 7%; border: #0a6079 1px solid; color: #0a6079; font-weight: 900;">
        <span>详情图片：</span>
    </div>
    <div style="float: left; height: 100%; width: 33%; border: #0a6079 1px solid; ">
        <span>{{templateNameList[0]}}</span>
    </div>
    <div style="float: left; height: 100%; width: 33%; border: #0a6079 1px solid; ">
        <span>{{templateNameList[1]}}</span>
    </div>
    <div style="float: left; height: 100%; width: 27%; border: #0a6079 1px solid; ">
        <span></span>
    </div>
</div>
<div *ngIf="templateConfigList !== null"  style="width: 100%; height: 110px; background-color: #3bd4d6; ">
    <div style="float: left; height: 100%; width: 7%; border: #0a6079 1px solid; color: #0a6079; font-weight: 900;">
        <span>图片预览：</span>
    </div>
    <div style="float: left; height: 100%; width: 33%; border: #0a6079 1px solid; ">
        <span><img src="{{templateConfigList[0]}}" style="width: 80px; height: 100px; margin-top: 5px;"></span>
    </div>
    <div style="float: left; height: 100%; width: 33%; border: #0a6079 1px solid; ">
        <span><img src="{{templateConfigList[1]}}" style="width: 80px; height: 100px; margin-top: 5px;"></span>
    </div>
    <div style="float: left; height: 100%; width: 27%; border: #0a6079 1px solid; ">
        <span></span>
    </div>
</div>
