th{
    background: linear-gradient(to bottom, #3bd4d6, #339b9d);
    height: 40px;
    vertical-align: middle;
}

.table-summary-top{
    text-align: left;
    float: left;
    width: 100%;
    color: #357e75;
}

.table-summary-bottom{
    text-align: right;
    float: right;
    width: 100%;
    color: #357e75;
}

.table-operation-style{
    background-color: rgba(168, 168, 168, 0.44);
    width: 100%;
    cellpadding: 1px;
    cellspacing: 1px;
}

table tr:nth-child(even){
    background-color: #3bd4d6;
}
table tr:nth-child(odd){
    background-color: rgba(64, 249, 251, 0.91);
}

td{
    color: #357e75;
}

a{
    color: #357e75;
}

a:hover{
    color: #ffffff;
}

table tr:hover {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    background: linear-gradient(to bottom, #3cdddf, #357e75);
}

.table-no-paginator-tr-style{
    height: 40px;

}
