th {
	background: linear-gradient(to bottom, #3bd4d6, #339b9d);
	height: 40px;
	vertical-align: middle;
}

.table-summary-top {
	text-align: left;
	float: left;
	width: 100%;
	color: #357e75;
}

.table-summary-bottom {
	text-align: right;
	float: right;
	width: 100%;
	color: #357e75;
}

.table-operation-style {
	background-color: #678b92;
	width: 100%;
	cellpadding: 1px;
	cellspacing: 1px;
}

table tr:nth-child(even) {
	background-color: #3bd4d6;
}

table tr:nth-child(odd) {
	background-color: rgba(64, 249, 251, 0.91);
}

td {
	color: #357e75;
}

a {
	color: #357e75;
}

a:hover {
	color: #ffffff;
}

table tr:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	background: linear-gradient(to bottom, #3cdddf, #357e75);
}

.table-no-paginator-tr-style {
	height: 40px;

}

.inner-button-style {
	height: 30px;
	line-height: 30px;
	border: #f3384b 1px solid;
	border-radius: 5px;
	margin-left: 5px;
	background: linear-gradient(to bottom, #df806d, #f3384b);
}

.inner-input-syle {
	height: 30px;
	width: 50px;
	border: #357e75 1px solid;
	border-radius: 5px;
	background: linear-gradient(to bottom, #3cdddf, #46fdff);
}
