<div style="background: linear-gradient(to bottom, #378091, #2f3e45); height: 800px;display: table">
    <app-system-side-left></app-system-side-left>
    <div class="title-content">
        <div style="align-items: left; left: 15px !important;">
            <div style="width: 95%; margin: auto; left: 0; right: 0; margin-top: 20px;">
	            <p class="contact-input contact-absolute-width">
		            <input type="text" name="goodsName" placeholder="商品名称关键字" [(ngModel)]="goodsName">
	            </p>
	            <p class="contact-input contact-absolute-width" style="margin-left: 280px; margin-top: -60px;">
		            <label for="templateFlag" id="templateFlag" class="select">
			            <select name="goodsType" id="goodsType" [(ngModel)]="goodsType">
				            <option *ngFor="let templateFlag of goodsTypeOption"
				                    value="{{templateFlag.bizKey}}">{{templateFlag.value}}
				            </option>
			            </select>
		            </label>
	            </p>
                <p class="contact-submit" style="margin-top: -70px;">
                    <input type="button" class="button" value="   返回   " (click)="goReturn()">
	                <input type="button" class="button" style="margin-right: 40px;" value="   查  询   " (click)="doQueryOnlineGoodsList()">
                </p>
            </div>
        </div>
	    <!-- 间隔 -->
	    <div style="align-items: left; left: 15px !important; width: 100%; height: 40px;">
		    <div *ngIf="isNeedShowErrMsg" style="height: 35px; width: 100%;">
			    <span style="color: #721c24">{{errMsg}}</span>
		    </div>
	    </div>
        <div style="align-content: center; width: 95%; margin: auto; left: 0; right: 0;">
	        <!-- 操作区 -->
	        <div style="align-items: left; left: 15px !important; width: 100%;">
		        <div style="width: 95%; margin: auto; left: 0; right: 0;">
			        <div style="height: 600px; border-radius: 8px; overflow-y:scroll; width: 400px; border: 1px #00F7DE solid; background-color: #55dac1;">
				        <app-camp-prize-goods-item  *ngFor="let goods of goodsListLeftSide" [goods]="goods" (click)="gotoRightSide(goods)"></app-camp-prize-goods-item>
			        </div>
			        <div style="height: 600px; width: 100px; margin-left: 400px; margin-top: -700px;">
			        </div>
			        <div style="height: 60px; width: 50px; margin-left: 500px; margin-top: -500px; ">
				        <div style="width: 100%;">
					        <p class="contact-submit">
						        <input type="button" class="button" value="   添加折扣信息   " (click)="doAddDiscountGoodsConf()">
					        </p>
				        </div>
			        </div>
			        <div style="overflow: scroll; height: 600px; width: 800px; margin-left: 500px; ">
				        <div *ngIf="!goods" class="dis-goods-item-style">
					        <div style="width: 100px; height: 260px; float: left;">
					        </div>
				        </div>
				        <div *ngIf="goods" class="dis-goods-item-style">
					        <div style="width: 100px; height: 100px; float: left;">
						        <img style="border-radius: 5px; border: #2f3e45 1px solid; height: 100px; width: 100px;" src="{{imgPath}}{{goods.goodsImage}}">
					        </div>
					        <div style="width: 280px; height: 100px; margin-top: 0px; float: left; margin-left: 10px;">
						        <div style="height: 30px;">
							        <span style="float: left; line-height: 30px;">{{goods.goodsTitle}}</span>
						        </div>
						        <div style="height: 30px;">
						            <span style="float: left;line-height: 30px;">
						                ￥ <span style="color: #f3384b; font-weight: 900;">{{goods.goodsPrice}}</span> 元
						            </span>
						        </div>
						        <div style="height: 30px;">
							        <span style="float: left; line-height: 30px;">{{goods.goodsOnlineTime}}</span>
						        </div>
					        </div>
				        </div>
				        <div style="background: linear-gradient(to bottom, #378091, #445a61); width: 800px; height: 1300px;">
					        <table width="100%">
						        <tr style="height: 50px; width: 100%;">
							        <td height="50" align="right" style="width: 30%; height: 50px; margin-right: 30px;">
								        <span>折扣名称</span>
							        </td>
							        <td height="50" align="left">
								        <div style="margin-top: 30px; margin-left: 20px;">
									        <p class="contact-input contact-absolute-width">
										        <input type="text" name="discountValue" placeholder="折扣名称" [(ngModel)]="discountGoodsConf.discountName">
									        </p>
								        </div>
							        </td>
						        </tr>
						        <tr style="height: 30px; width: 100%;">
							        <td align="right" width="30%" style="margin-right: 30px;">
								        <span>折扣类型</span>
							        </td>
							        <td align="left">
								        <div style="margin-top: 30px; margin-left: 20px;">
									        <p class="contact-input contact-absolute-width">
										        <label for="templateFlag1" id="templateFlag1" class="select">
											        <select name="discountGoodsType" id="discountGoodsType" [(ngModel)]="discountGoodsConf.discountType">
												        <option *ngFor="let templateFlag1 of discountGoodsTypeOption"
												                value="{{templateFlag1.bizKey}}">{{templateFlag1.value}}
												        </option>
											        </select>
										        </label>
									        </p>
								        </div>
							        </td>
						        </tr>
						        <tr style="height: 50px; width: 100%;">
							        <td height="50" align="right" style="width: 30%; height: 50px; margin-right: 30px;">
								        <span>折扣值</span>
							        </td>
							        <td height="50" align="left">
								        <div style="margin-top: 30px; margin-left: 20px;">
									        <p class="contact-input contact-absolute-width">
										        <input type="text" name="discountValue" placeholder="折扣值" [(ngModel)]="discountGoodsConf.discountValue">
									        </p>
								        </div>
							        </td>
						        </tr>
						        <tr style="height: 50px; width: 100%;">
							        <td height="50" align="right" style="width: 30%; height: 50px; margin-right: 30px;">
								        <span>记账ID</span>
							        </td>
							        <td height="50" align="left">
								        <div style="margin-top: 30px; margin-left: 20px;">
									        <p class="contact-input contact-absolute-width">
										        <input type="text" name="discountValue" placeholder="记账ID" [(ngModel)]="discountGoodsConf.prodtransId">
									        </p>
								        </div>
							        </td>
						        </tr>
						        <tr style="height: 50px; width: 100%;">
							        <td height="50" align="right" style="width: 30%; height: 50px; margin-right: 30px;">
								        <span>生效时间点</span>
							        </td>
							        <td height="50" align="left">
								        <div style="margin-top: 30px; margin-left: 20px;">
									        <p class="contact-input contact-absolute-width">
										        <input type="text" name="discountValue" placeholder="生效时间点" [(ngModel)]="discountGoodsConf.distribution">
									        </p>
								        </div>
							        </td>
						        </tr>
						        <tr style="height: 50px; width: 100%;">
							        <td height="50" align="right" style="width: 30%; height: 50px; margin-right: 30px;">
								        <span>折扣人群</span>
							        </td>
							        <td height="50" align="left">
								        <div style="margin-top: 30px; margin-left: 20px;">
									        <p class="contact-input contact-absolute-width">
										        <label for="templateFlag2" id="templateFlag2" class="select">
											        <select name="discountCrowdType" id="discountCrowdType" [(ngModel)]="discountGoodsConf.crowdType">
												        <option *ngFor="let templateFlag2 of discountCrowdTypeOption"
												                value="{{templateFlag2.bizKey}}">{{templateFlag2.value}}
												        </option>
											        </select>
										        </label>
									        </p>
								        </div>
							        </td>
						        </tr>
						        <tr style="height: 50px; width: 100%;">
							        <td height="50" align="right" width="30%" style="height: 50px; margin-right: 30px;">
								        <span>起效时间</span>
							        </td>
							        <td height="50" align="left">
								        <div style="margin-top: 30px; margin-left: 20px;">
									        <p class="contact-input contact-absolute-width">
										        <input type="text" name="gmtEffictive" id="gmtEffictive" placeholder="起效时间" [(ngModel)]="discountGoodsConf.gmtEffictive">
									        </p>
								        </div>
							        </td>
						        </tr>
						        <tr style="height: 50px; width: 100%;">
							        <td height="50" align="right" width="30%" style="height: 50px; margin-right: 30px;">
								        <span>过期时间</span>
							        </td>
							        <td height="50" align="left">
								        <div style="margin-top: 30px; margin-left: 20px;">
									        <p class="contact-input contact-absolute-width">
										        <input type="text" name="gmtExpired" id="gmtExpired" placeholder="过期时间" [(ngModel)]="discountGoodsConf.gmtExpired">
									        </p>
								        </div>
							        </td>
						        </tr>
						        <tr style="height: 50px; width: 100%;">
							        <td height="50" align="right" width="30%" style="height: 50px; margin-right: 30px;">
								        <span>备注说明</span>
							        </td>
							        <td height="50" align="left">
								        <div style="margin-top: 30px; margin-left: 20px;">
									        <p class="contact-input contact-absolute-width">
										        <textarea type="text" name="comments" id="comments" placeholder="备注" [(ngModel)]="discountGoodsConf.comments"></textarea>
									        </p>
								        </div>
							        </td>
						        </tr>
					        </table>
				        </div>
			        </div>
		        </div>
	        </div>
	        <div style="width: 100%; height: 20px;"></div>
        </div>
    </div>
</div>
