<ul class="nav">
    <li class="drop-down">
        <a href="#">首页</a>
        <ul class="drop-down-content">
            <li><a href="#">扩展</a></li>
        </ul>
    </li>
    <li class="drop-down"><a href="#">系统管理</a>
        <ul class="drop-down-content">
            <li><a href="#">扩展</a></li>
        </ul>
    </li>
    <li class="drop-down">
        <a href="#">客户管理</a>
        <ul class="drop-down-content">
            <li><a href="customer/query/" onclick="openUrl('fatige_indicator_config_query')">疲劳度配置查询</a></li>
        </ul>
    </li>
    <li class="drop-down">
        <a href="message/query/" onclick="openUrl('message_manager')">消息管理</a>
    </li>
    <li class="drop-down">
        <a href="#">权限管理</a>
        <ul class="drop-down-content">
            <li><a href="#">扩展</a></li>
        </ul>
    </li>
    <li class="drop-down">
        <a href="#">认证管理</a>
        <ul class="drop-down-content">
            <li><a href="#">扩展</a></li>
        </ul>
    </li>
    <li class="drop-down">
        <a href="#">其他</a>
        <ul class="drop-down-content">
            <li><a href="#">扩展</a></li>
        </ul>
    </li>

</ul>
