<div style="background: linear-gradient(to bottom, #378091, #2f3e45); height: 800px;display: table; width: 100%">
    <app-message-side-left></app-message-side-left>
    <div class="title-content">
        <div>
            <div style="align-items: center;">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <th colspan="6" align="left" valign="middle">>>添加消息模板配置</th>
                </table>
            </div>
        </div>
        <div style="width: 90%">
            <p class="contact-submit">
                <input type="submit" value="     添加消息模板     " (click)="addNewMessageConfig()">
            </p>
            <br>
        </div>
        <!-- 表单内容 -->
        <table align="center" width="80%"  cellpadding="0" cellspacing="0">
            <th colspan="4"></th>
            <tr>
                <td align="right" width="10%">过期时长：</td>
                <td align="left" width="40%">
                    <p class="contact-input contact-absolute-width">
                        <input type="text" name="expireTime" placeholder="过期时长：数字（单位：秒）" [(ngModel)]="formData.expireTime">
                    </p>
                </td>
                <td align="right" width="10%">渠道类型：</td>
                <td align="left" width="40%">
                    <p class="contact-input contact-absolute-width">
                        <label for="channelType" class="select">
                            <select name="channelType" id="channelType" [(ngModel)]="formData.channelType">
                                <option *ngFor="let channelType of channelTypeList"
                                        value="{{channelType.bizKey}}">
                                    {{channelType.value}}
                                </option>
                            </select>
                        </label>
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right">渠道开关：</td>
                <td align="left">
                    <p class="contact-input contact-absolute-width">
                        <label for="templateFlag" class="select">
                            <select name="templateFlag" id="templateFlag" [(ngModel)]="formData.templateFlag">
                                <option *ngFor="let templateFlag of templateFlagList"
                                        value="{{templateFlag.bizKey}}">{{templateFlag.value}}
                                </option>
                            </select>
                        </label>
                    </p>
                </td>
                <td align="right">模板类型：</td>
                <td align="left">
                    <p class="contact-input contact-absolute-width">
                        <label for="templateFlag" class="select">
                            <select name="templateType" id="templateType" [(ngModel)]="formData.templateType">
                                <option *ngFor="let templateType of templateTypeList"
                                        value="{{templateType.bizKey}}">{{templateType.value}}
                                </option>
                            </select>
                        </label>
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right">驱动地址：</td>
                <td colspan="2">
                    <p class="contact-input">
                        <textarea rows="5" name="templateDriverUrl" placeholder="驱动地址" [(ngModel)]="formData.templateDriverUrl"></textarea>
                    </p>
                </td>
                <td></td>
            </tr>
            <tr>
                <td align="right">文本模板内容：</td>
                <td colspan="2">
                    <p class="contact-input">
                        <textarea rows="5" name="content" placeholder="文本模板内容" [(ngModel)]="formData.content"></textarea>
                    </p>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
