<div style="background: linear-gradient(to bottom, #378091, #2f3e45); height: 800px;display: table">
    <div class="title-side-left" >
        <div style="width: 250px"><label style="width: 250px">test</label></div>
    </div>
    <div class="title-content" >
        <div>
            <div style="align-items: left; left: 15px !important;">
                    <h1><span style="font-size: 20px">>>疲劳度配置查询</span></h1>
                    <hr/>
                    <ul>
                        <label style="width: 400px">
                            <span>疲劳度类型 :</span>
                            <select [(ngModel)]="contactKey">
                                <option  *ngFor="let contactType of contactList" value="{{contactType.bizKey}}">{{contactType.value}}</option>
                            </select>
                        </label>
                        <label style="width: 400px">
                            <span>疲劳度开关 :</span>
                            <select [(ngModel)]="fatigeSwitchKey">
                                <option *ngFor="let fatigeSwitchType of fatigeSwitchList" value="{{fatigeSwitchType.bizKey}}">{{fatigeSwitchType.value}}</option>
                            </select>
                        </label>
                        <label>
                            <button class="button" (click)="load()">查询</button>
                        </label>
                        <label>
                            <button class="button" >添加疲劳度配置</button>
                        </label>
                    </ul>
            </div>
            <div style="height: 60px"></div>
            <div>
                <ul class="th">
                    <li>序号</li>
                    <li>疲劳度类型</li>
                    <li>最大值</li>
                    <li>疲劳度开关</li>
                    <li>创建时间</li>
                    <li>最后修改时间</li>
                    <li>操作</li>
                </ul>
                <div *ngFor="let config of data">
                    <ul>
                        <li>{{config.id}}</li>
                        <li>{{config.businessType}}</li>
                        <li>{{config.maxTimes}}</li>
                        <li>{{config.fatigeSwitchFlag}}</li>
                        <li>{{config.gmtCreated}}</li>
                        <li>{{config.gmtModified}}</li>
                        <li>
                            <button (click)="showAlert()">修改</button>
                            <span>删除</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
