<div style="background: linear-gradient(to bottom, #378091, #2f3e45); height: 800px;display: table">
    <app-customer-side-left></app-customer-side-left>
    <div class="title-content">
        <div style="align-items: left; left: 15px !important;">
            <table width="100%" cellpadding="0" cellspacing="0">
                <th colspan="6" align="left" valign="middle">>>消息配置查询</th>
                <tr>
                    <td width="5%"><span>疲劳度类型 :</span></td>
                    <td width="20%">
                        <p class="contact-input contact-absolute-width">
                            <label for="contactKey" class="select">
                                <select name="contactKey" id="contactKey" [(ngModel)]="contactKey">
                                    <option *ngFor="let contactType of contactList" value="{{contactType.bizKey}}">
                                        {{contactType.value}}
                                    </option>
                                </select>
                            </label>
                        </p>
                    </td>
                    <td width="5%"><span>疲劳度开关 :</span></td>
                    <td width="20%">
                        <p class="contact-input contact-absolute-width">
                            <label for="contactKey" class="select">
                                <select name="fatigeSwitchKey" id="fatigeSwitchKey" [(ngModel)]="fatigeSwitchKey">
                                    <option *ngFor="let fatigeSwitchType of fatigeSwitchList" value="{{fatigeSwitchType.bizKey}}">
                                        {{fatigeSwitchType.value}}
                                    </option>
                                </select>
                            </label>
                        </p>
                    </td>
                </tr>
                <th colspan="4"></th>
            </table>
            <div style="width: 99%">
                <p class="contact-submit">
                    <input type="button" class="button" value="   查   询   " (click)="load()">
                    <input type="button" class="button" value="添加疲劳度配置">
                </p>
            </div>
        </div>
        <div style="height: 60px"></div>
        <div>
            <span *ngIf="errorMessage" style="color: #721c24">{{errorMessage}}</span>
            <ul class="th">
                <li>序号</li>
                <li>疲劳度类型</li>
                <li>最大值</li>
                <li>疲劳度开关</li>
                <li>创建时间</li>
                <li>最后修改时间</li>
                <li>操作</li>
            </ul>
            <div *ngFor="let config of data">
                <ul>
                    <li>{{config.id}}</li>
                    <li>{{config.businessType}}</li>
                    <li>{{config.maxTimes}}</li>
                    <li>{{config.fatigeSwitchFlag}}</li>
                    <li>{{config.gmtCreated}}</li>
                    <li>{{config.gmtModified}}</li>
                    <li>
                        <button (click)="showAlert()">修改</button>
                        <span>删除</span></li>
                </ul>
            </div>
            <div *ngIf="data === null || data === undefined"><span>当前无数据</span></div>
        </div>
    </div>
</div>
