<div style="background: linear-gradient(to bottom, #378091, #2f3e45); height: 800px;display: table">
    <app-system-side-left></app-system-side-left>
    <div class="title-content">
        <div style="align-items: left; left: 15px !important;">

            <!-- 当前店铺汇总信息 -->
            <app-summary-table [shopData]="shopData" [tableTitle]="shopData[1]" [tableTitleFace]="'当前店铺'"></app-summary-table>
            <div style="width: 95%; margin: auto; left: 0; right: 0; margin-top: 20px;">
                <p class="contact-submit">
                    <input type="button" class="button" value="   返回   " (click)="goReturn()">
                    <input type="button" class="button" value="   查   询   " (click)="doQuery()">
                </p>
            </div>
        </div>
        <div *ngIf="isNeedShowErrMsg" style="height: 35px; width: 100%;">
            <span style="color: #721c24">{{errMsg}}</span>
        </div>
        <div style="align-content: center; width: 95%; margin: auto; left: 0; right: 0;">
            <div style="height: 500px; width: 100%; overflow: scroll;">
                <!--<app-table-no-paginator [tableElement]="tableElement" [tableTitle]="title"></app-table-no-paginator>-->
                <!-- 表单内容 -->
                <div *ngIf="tableElement.tableContent.length > 0">
                    <label *ngIf="isNeedShow" class="table-summary-top">>>表格记录条数：<span
                            style="color: #da6072">  {{tableElement.tableContent.length}}   </span>条<<</label>
                    <table align="center" class="table-operation-style">
                        <th *ngFor="let tableColumn of tableElement.tableHeaders" style="font-size: 0.8em;">{{tableColumn}}</th>
                        <th style="font-size: 0.8em;">操作</th>
                        <tr class="table-no-paginator-tr-style" *ngFor="let tableContentElement of tableElement.tableContent">
                            <td align="center" style="font-size: 0.4em;">
                                <span><img src="{{imgPath}}{{tableContentElement[9]}}" style="width: 80px; height: 80px; border-radius: 5px;"></span>
                            </td>
                            <td align="center" style="font-size: 0.4em;">{{tableContentElement[0]}}</td>
                            <td align="center" style="font-size: 0.4em;">{{tableContentElement[1]}}</td>
                            <td align="center" style="font-size: 0.4em;">{{tableContentElement[2]}}</td>
                            <td align="center" style="font-size: 0.4em;">￥{{tableContentElement[3] | number:'1.2-2'}}</td>
                            <td align="center" style="font-size: 0.4em;">
                                <span *ngIf="!tableContentElement[8]" style="width: 100%; color: #721c24; font-weight: 900;" (click)="tableContentElement[8]= !tableContentElement[8]">
                                    ￥{{tableContentElement[4] | number:'1.2-2'}}
                                </span>
                                <p *ngIf="tableContentElement[8]" class="contact-input contact-absolute-width" style="width: 90px; margin-top: 15px;">
                                    <input type="text" name="goodsCost" placeholder="当前成本" [(ngModel)]="tableContentElement[4]">
                                </p>
                            </td>
                            <td align="center" style="font-size: 0.4em;">{{tableContentElement[5]}}</td>
                            <td align="center" style="font-size: 0.4em;">{{tableContentElement[6]}}</td>
                            <td align="center" style="font-size: 0.4em;">{{tableContentElement[7]}}</td>
                            <td align="center" style="font-size: 0.4em;">
                                <p *ngIf="tableContentElement[8]" >
                                    <input type="button" class="button" style="height: 30px; border: #2f3e45 1px solid; border-radius: 5px; color: #43f4f6; background-color: #721c24;" value=" 变更成本 " (click)="manageGoodsCost(tableContentElement)">
                                </p>
                            </td>
                        </tr>
                        <th colspan="9"></th>
                    </table>
                    <label *ngIf="isNeedShow" class="table-summary-bottom">>>表格记录条数：<span style="color: #da6072">  {{tableElement.tableContent.length}}   </span>条<<</label>
                </div>
                <div *ngIf="tableElement.tableContent.length <= 0 && isNeedShow">
                    <label class="table-summary-top" style="color: #ffffff">>>当前没有记录！<<</label>
                </div>
                <div style="height: 270px; width: 100px;"></div>
            </div>
        </div>
    </div>
</div>
