<div style="background: linear-gradient(to bottom, #378091, #2f3e45); height: 800px;display: table">
    <app-system-side-left></app-system-side-left>
    <div class="title-content">
        <div style="align-items: left; left: 15px !important;">

            <!-- 当前店铺汇总信息 -->
            <app-summary-table [shopData]="shopData" [tableTitle]="shopData[1]" [tableTitleFace]="'当前店铺'"></app-summary-table>
            <div style="width: 95%; margin: auto; left: 0; right: 0; margin-top: 20px;">
                <p class="contact-submit">
                    <input type="button" class="button" value="   返回   " (click)="goReturn()">
                    <input type="button" class="button" value="   查   询   " (click)="doQuery()">
                </p>
            </div>
        </div>
        <div *ngIf="isNeedShowErrMsg" style="height: 35px; width: 100%;">
            <span style="color: #721c24">{{errMsg}}</span>
        </div>
        <div style="align-content: center; width: 95%; margin: auto; left: 0; right: 0;">
            <div style="height: 500px; width: 100%; overflow: scroll;">
                <!--<app-table-no-paginator [tableElement]="tableElement" [tableTitle]="title"></app-table-no-paginator>-->
                <!-- 表单内容 -->
                <div *ngIf="goodsCostCfgList!== undefined && goodsCostCfgList !== null">
                    <table align="center" class="table-operation-style">
                        <th *ngFor="let tableColumn of tableElement.tableHeaders" style="font-size: 0.8em;">{{tableColumn}}</th>
                        <th style="font-size: 0.8em;">操作</th>
                        <tr class="table-no-paginator-tr-style" *ngFor="let goodsCostCfg of goodsCostCfgList">
                            <td align="center" style="font-size: 0.4em;">
                                <span><img src="{{imgPath}}{{goodsCostCfg.goodsImage}}" style="width: 80px; height: 80px; border-radius: 5px;"></span>
                            </td>
                            <td align="center" style="font-size: 0.4em;">{{goodsCostCfg.goodsId}}</td>
                            <td align="center" style="font-size: 0.4em;">{{goodsCostCfg.goodsTitle}}</td>
                            <td align="center" style="font-size: 0.4em;">{{goodsCostCfg.goodsDesc}}</td>
                            <td align="center" style="font-size: 0.4em;">￥{{goodsCostCfg.goodsPrice | number:'1.2-2'}}</td>
                            <td align="center" style="font-size: 0.4em;">
                                <span *ngIf="!goodsCostCfg.showStatus" style="width: 100%; color: #721c24; font-weight: 900;" (click)="goodsCostCfg.showStatus= !goodsCostCfg.showStatus">
                                    ￥{{goodsCostCfg.goodsCost | number:'1.2-2'}}
                                </span>
                                <p *ngIf="goodsCostCfg.showStatus" class="contact-input contact-absolute-width" style="width: 90px; margin-top: 15px;">
                                    <input type="text" name="goodsCost" placeholder="当前成本" [(ngModel)]="goodsCostCfg.goodsCost">
                                </p>
                            </td>
                            <td align="center" style="font-size: 0.4em;">{{goodsCostCfg.goodsStatusShow}}</td>
                            <td align="center" style="font-size: 0.4em;">{{goodsCostCfg.gmtExpired | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td align="center" style="font-size: 0.4em;">{{goodsCostCfg.gmtCreated | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td align="center" style="font-size: 0.4em;">
                                <p *ngIf="goodsCostCfg.showStatus">
                                    <input type="button" class="button"
                                           style="height: 30px; border: #2f3e45 1px solid; border-radius: 5px; color: #43f4f6; background-color: #721c24;"
                                           value=" 变更成本 " (click)="manageGoodsCost(goodsCostCfg)">
                                </p>
                            </td>
                        </tr>
                        <th colspan="9"></th>
                    </table>
                </div>
                <div style="height: 270px; width: 100px;"></div>
            </div>
        </div>
    </div>
</div>
