<div class="title-side-left" style="display: table">
    <a class="a-style-slide" href="system/shop" onclick="openUrl('system_shop_manage')">店铺信息管理</a>
    <a class="a-style-slide" href="system/shop/add" onclick="openUrl('system_shop_add')">添加店铺信息</a>
    <a class="a-style-slide" href="system/shop/add" onclick="openUrl('system_shop_add')">商品管理</a>
    <a class="a-style-slide" href="system/shop/add" onclick="openUrl('system_shop_add')">添加店铺信息</a>
    <a class="a-style-slide" href="system/shop/add" onclick="openUrl('system_shop_add')">添加店铺信息</a>
    <a class="a-style-slide" href="system/shop/add" onclick="openUrl('system_shop_add')">添加店铺信息</a>
    <a class="a-style-slide" href="system/shop/add" onclick="openUrl('system_shop_add')">添加店铺信息</a>
</div>
