<div class="title-side-left" style="display: table">
    <a class="a-style-slide" href="message/query/" onclick="openUrl('message_manager')">消息配置查询</a>
    <a class="a-style-slide" href="message/add/" onclick="openUrl('add_message_config')">新增消息模板配置</a>
    <a class="a-style-slide" href="message/add/" onclick="openUrl('add_message_config')">修改消息模板配置</a>
    <a class="a-style-slide" href="message/add/" onclick="openUrl('add_message_config')">删除消息模板配置</a>
    <a class="a-style-slide" href="message/add/" onclick="openUrl('add_message_config')">查询单个消息模板配置</a>
</div>
