<div style="width: 95%; margin: auto; left: 0; right: 0; margin-top: 30px;">
    <!-- 表头信息 -->
    <div style="width: 100%;">
        <div class="summary-table-title">>>{{tableTitleFace}}：{{tableTitle}}</div>
    </div>
    <!-- 表格内容 -->
    <div *ngFor="let lineElement of tableElement" class="summary-table-body">
        <div class="summary-table-element-face"><span>{{lineElement[0].face}}</span></div>
        <div class="summary-table-common-element"><span>{{lineElement[0].value}}</span></div>
        <div class="summary-table-element-face"><span>{{lineElement[1].face}}</span></div>
        <div class="summary-table-common-element"><span>{{lineElement[1].value}}</span></div>
        <div class="summary-table-element-face"><span>{{lineElement[2].face}}</span></div>
        <div class="summary-table-large-element"><span>{{lineElement[2].value}}</span></div>
    </div>
</div>