/*********************************************************************
 * 侧边栏菜单公共样式
 *********************************************************************/

/*********************************************************************
 * 侧边栏菜单公共样式
 *********************************************************************/
.title-side-left {
    display: table-cell;
    text-decoration: none;
    width: 290px;
    height: 780px;
    position: relative;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, #378091, #5fe5ff);
}

.title-content {
    display: table-cell;
    text-decoration: none;
    width: 100%;
    color: white;
    background: linear-gradient(to bottom, #2a8f91, #4ce9f9);
}

.a-style-slide {
    display: block;
    text-decoration: none;
    width: 290px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background: linear-gradient(to bottom, #378091, #2f3e45);
}

.a-style-slide:hover {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    background: linear-gradient(to bottom, #3bd4d6, #339b9d);
}

/**********************************************************************
 * 表单及按钮公共样式
 *********************************************************************/
.contact-submit > input {
    display: inline-block;
    vertical-align: top;
    padding: 0 14px;
    height: 45px;
    font-weight: bold;
    color: #0a6079;
    text-shadow: 0 1px rgba(95, 229, 255, 0.5);
    background: linear-gradient(to bottom, #3bd4d6, #339b9d);
    border: 1px solid #378091;
    border-bottom-color: #367f8f;
    border-radius: 5px;
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:-moz-placeholder {
    color: #879fa6 !important;
}

::-webkit-input-placeholder {
    color: #879fa6;
}

:-ms-input-placeholder {
    color: #879fa6 !important;
}

input, textarea, select, label {
    font-family: inherit;
    font-size: 17px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(360deg);
}

.title-content {
    display: table-cell;
    text-decoration: none;
    width: 100%;
    color: white;
    background: linear-gradient(to bottom, #2a8f91, #4ce9f9);
}

.contact-input {
    overflow: hidden;
    margin-bottom: 20px;
    padding: 5px;
    background: #eef7f9;
    border-radius: 8px;
}

.contact-absolute-width{
    width: 260px;
}
.contact-input > input, .contact-input > textarea {
    display: block;
    width: 100%;
    height: 29px;
    padding: 0 9px;
    color: #80989f;
    background: rgba(70, 253, 255, 0.38);
    border: 1px solid #3bd4d6;
    border-bottom-color: #d2e2e7;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);
}
.contact-input > input:focus, .contact-input > textarea:focus {
    border-color: #93c2ec;
    outline: 0;
    -webkit-box-shadow: 0 0 0 8px #e1ecf5;
    box-shadow: 0 0 0 8px #e1ecf5;
}
.lt-ie9 .contact-input > input, .lt-ie9 .contact-input > textarea {
    line-height: 27px;
}
.contact-input > textarea {
    padding: 4px 8px;
    height: 90px;
    line-height: 20px;
    resize: none;
}

.select {
    display: block;
    position: relative;
    overflow: hidden;
    background: rgba(70, 253, 255, 0.38);
    border: 1px solid #3bd4d6;
    border-bottom-color: #d2e2e7;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}
.select:before, .select:after {
    content: '';
    position: absolute;
    right: 11px;
    width: 0;
    height: 0;
    border-left: 3px outset transparent;
    border-right: 3px outset transparent;
}
.select:before {
    top: 10px;
    border-bottom: 3px solid #7f9298;
}
.select:after {
    top: 16px;
    border-top: 3px solid #7f9298;
}
.select > select {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 29px;
    line-height: 17px;
    padding: 5px 9px;
    padding-right: 0;
    color: #80989f;
    background: transparent;
    background: rgba(0, 0, 0, 0);
    border: 0;
    -webkit-appearance: none;
}
.select > select:focus {
    color: #80989f;
    outline: 0;
}

.contact-submit {
    text-align: right;
}

.contact-submit > input:active {
    color: #6a95a9;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    background: #c9dfe9;
    border-color: #a3bed0 #b5ccda #b5ccda;
}

/*# sourceMappingURL=bootstrap.min.css.map */