<!-- 提醒子内容展示（包含删除链接） -->
<div *ngIf="isShowOperation" style="width: 100%">
    <table *ngIf="subNoticePackageDataList !== undefined" width="100%" cellspacing="0" cellpadding="0">
        <tr style="width: 100%; height: 25px; background: linear-gradient(to bottom, #22787a, #45d4d3);">
            <td class="div-td-title" style="width: 7%"><span>提醒ID</span></td>
            <td class="div-td-title" style="width: 73%"><span>内容</span></td>
            <td class="div-td-title" style="width: 20%"><span>操作</span></td>
        </tr>
        <tr *ngFor="let subNoticeElement of subNoticePackageDataList" style="width: 100%;">
            <td class="div-td-content" style="width: 7%">
                <span>{{subNoticeElement.packagesSuNoticeId}}</span>
            </td>
            <td class="div-td-content" style="width: 73%; margin-left: 0px !important;" align="left">
                <span style="margin-left: 20px; font-weight: 900; color: rgb(92,42,29);">{{subNoticeElement.subNoticeDetail}}</span>
            </td>
            <td class="div-td-content" style="width: 20%">
                <span><a style="cursor: pointer;" (click)="doDeleteSubPackages(subNoticeElement)">删除</a> </span>
            </td>
        </tr>
    </table>
</div>

<!-- 提醒子内容展示（无删除链接） -->
<div *ngIf="!isShowOperation" style="width: 100%">
    <table *ngIf="subNoticePackageDataList !== undefined" width="100%" cellspacing="0" cellpadding="0">
        <tr style="width: 100%; height: 25px; background: linear-gradient(to bottom, #22787a, #45d4d3);">
            <td class="div-td-title" style="width: 12%"><span>提醒ID</span></td>
            <td class="div-td-title" style="width: 88%"><span>内容</span></td>
        </tr>
        <tr *ngFor="let subNoticeElement of subNoticePackageDataList" style="width: 100%;">
            <td class="div-td-content" style="width: 12%">
                <span>{{subNoticeElement.packagesSuNoticeId}}</span>
            </td>
            <td class="div-td-content" style="width: 88%; margin-left: 0px !important;" align="left">
                <span style="margin-left: 20px; font-weight: 900; color: rgb(92,42,29);">{{subNoticeElement.subNoticeDetail}}</span>
            </td>
        </tr>
    </table>
</div>