<div class="title-side-left" style="display: table">
    <a class="a-style-slide" href="customer/query/" onclick="openUrl('fatige_indicator_config_query')">疲劳度配置查询</a>
    <a class="a-style-slide" href="customer/query/" onclick="openUrl('fatige_indicator_config_query')">新增疲劳度配置</a>
    <a class="a-style-slide" href="customer/query/" onclick="openUrl('fatige_indicator_config_query')">修改疲劳度配置</a>
    <a class="a-style-slide" href="customer/query/" onclick="openUrl('fatige_indicator_config_query')">删除疲劳度配置</a>
</div>
