<div class="goods-item-style">
    <div style="width: 100px; height: 100px; float: left;">
        <img style="border-radius: 5px; border: #2f3e45 1px solid; height: 100px; width: 100px;" src="{{imgPath}}{{goods.goodsImage}}">
    </div>
    <div style="width: 280px; height: 100px; margin-top: 0px; float: right;">
        <div style="height: 30px;">
            <span style="float: left; line-height: 30px;">{{goods.goodsTitle}}</span>
        </div>
        <div style="height: 30px;">
            <span style="float: left;line-height: 30px;">
                ￥ <span style="color: #f3384b; font-weight: 900;">{{goods.goodsPrice}}</span> 元
            </span>
        </div>
        <div style="height: 30px;">
            <span style="float: left; line-height: 30px;">{{goods.goodsOnlineTime}}</span>
        </div>
    </div>
</div>